td.txnHeader {
text-align : left;
text-indent : 5pt;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 10pt;
font-weight : bold;
font-style : normal;
color : #fffff1;
text-decoration : none;
vertical-align : middle;
text-transform : none;
font-family : "Tahoma";
}
td.prompt {

text-align : left;
text-indent : 12pt;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8.5pt;
font-weight : normal;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : top;
text-transform : none;
font-family : "Tahoma";
}
td.label {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8pt;
font-weight : bold;
font-style : normal;
color : #89794e;
text-decoration : none;
vertical-align : top;
text-transform : none;
font-family : "Tahoma";
}
td.control {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8pt;
font-weight : bold;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : top;
text-transform : none;
font-family : "Tahoma";
}
td.gridTitle {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8pt;
font-weight : bold;
color : #000000;
text-decoration : none;
vertical-align : baseline;
text-transform : none;
font-family : "Tahoma";
}
td.gridHeader {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8.5pt;
font-weight : normal;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : baseline;
text-transform : none;
font-family : "Tahoma";
}
td.gridBoldHeader {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8.5pt;
font-weight : bold;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : baseline;
text-transform : none;
font-family : "Tahoma";
}
td.gridLabel {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 7.5pt;
font-weight : normal;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : baseline;
text-transform : none;
font-family : "Tahoma";
}
td.gridLabelNum {
text-align : right;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 7.5pt;
font-weight : normal;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : baseline;
text-transform : none;
font-family : "Tahoma";
}
td.statusBar {
text-align : left;
text-indent : 0;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8pt;
font-weight : normal;
font-style : normal;
color : #000000;
text-decoration : none;
vertical-align : baseline;
text-transform : none;
font-family : "Tahoma";
}
.mainButton {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : bold;
width : 65px;
height : 20px;
}
.gridButtonBig {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : normal;
width : 65px;
height : 20px;
}
.gridButtonHuge {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : normal;
width : 105px;
height : 20px;
}
.mainButtonBig {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : bold;
width : 130px;
height : 20px;
}
.mainButtonMedium {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : bold;
width : 90px;
height : 20px;
}
.mainButtonSmall {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : bold;
width : 30px;
height : 20px;
}
.gridButton {
background : #f4f3ef;
border-color : #999999;
color : #000000;
border-style : solid;
border-width : 1px;
font-size : 7pt;
font-weight : normal;
width : 40px;
height : 20px;
}
.textRequired {
background : #FFFFA9;
border-color : #000000;
border-style : solid;
border-width : 1px;
font-size : 8pt;
}
.comboRequired {
background : #FFFFA9;
border-color : #000000;
border-style : solid;
border-width : 1px;
font-size : 8pt;
}
.combo {
background : #ffffff;
border-color : #000000;
border-style : solid;
border-width : 1px;
font-size : 8pt;
}
.text {
background : #ffffff;
border-color : #000000;
border-style : solid;
border-width : 1px;
font-size : 8pt;
}
.mainWelcome {
font-size : 18pt;
font-style : normal;
color : #ff9a00;
font-family : "Tahoma";
}
.userWelcome {
font-size : 8pt;
font-style : normal;
color : #525552;
font-family : "Tahoma";
}
.mainSegmentTitle {
background : #c6ba9c;
font-size : 10pt;
font-style : normal;
font-weight : bold;
color : #ffffff;
font-family : "Tahoma";
}
.mainSegmentDetail {
background : #fff3e7;
font-size : 10pt;
font-style : normal;
font-weight : normal;
color : #000000;
font-family : "Tahoma";
}
.mainSegmentDetailValue {
background : #fff3e7;
font-size : 10pt;
font-style : normal;
font-weight : normal;
color : #727072;
font-family : "Tahoma";
}
td.group {
display : block;
text-align : left;
text-indent : 12pt;
margin-top : 0;
margin-bottom : 0;
margin-right : 0;
margin-left : 0;
font-size : 8pt;
font-weight : bold;
color : #89794e;
text-decoration : none;
vertical-align : top;
text-transform : none;
font-family : "Tahoma";
}
.textAmountRequired {
background : #FFFFA9;
text-align : right;
border-color : #000000;
border-style : solid;
border-width : 1px;
font-size : 8pt;
}
.textAmount {
background : #ffffff;
text-align : right;
border-color : #000000;
border-style : solid;
border-width : 1px;
font-size : 8pt;
}
.moduleTitle {
font-size : 8pt;
font-style : normal;
color : #ff9a00;
font-family : "Tahoma";
}


/* Centering content */
#centerContent{

	
}